<div style="padding:30px;text-align:center">

<div style="display:inline-block">
<h1>Bienvenue sur Sandbox: l'app de test d'Olivier !!!</h1>
</div>

<ul>
  <% @dogs.each do |dog| %>
    <li><%= link_to dog.name, dog_path(dog)  %></li>
  <% end %>
</ul>

<div><a href="https://oliviersandbox2.herokuapp.com/dogs/9/badge.svg"><img src="https://oliviersandbox2.herokuapp.com/dogs/9/badge.svg" alt="Badge from sandbox heroku"></a></div>

</div>