<div class="badge macaron">
  <div class="gm-logo">
    <img src="https://www.goodmeal.fr/assets/logo_new_blanc-5bda4380c201a0f8b742d7e7372ab220a222919fb5630e96e97a352c29563f87.png" alt="">
  </div>
  <h1>Coucou</h1>
  <span> <%=@goodmeal%> </span>
  <div>Le restau <%=@titre%> </div>
</div>
<%= image_tag ('icon-152x152.png') %>
